.explosion{
  border-radius: 50%;
  border: 2px solid white;
}


#game-canvas{
  border: 1px solid black;
}

img{
  display: none;
}

#game-screen-outer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //margin-top: 60px;
  background-color: black;
  height: 100vh;

  #title-area{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
      font-size: 34px;
      color: white;
    }
    h3{
      font-size: 22px;
      color:white;
    }
    title-area-header{
      padding: 10px;
    }
  }

  

  #game-screen-inner-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #game-canvas{
    height: 800px;
    width: 1200px;
    margin-top: 20px;
  }

  #game-info-container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;

    .game-info-area{
      padding: 15px;
      border: 2px solid green;
      color: white;
    }
  }
}