.explosion{
  border-radius: 50%;
  border: 2px solid white;
}


#game-canvas{
  border: 1px solid black;
}

img{
  display: none;
}

#game-screen-container{
  display: flex;
  flex-direction: row;

  #game-info-container{
    display: flex;
    flex-direction: column;
    padding: 15px;

    .game-info-area{
      padding: 15px;
      border: 2px solid green;
    }
  }
}